.select2-container.form-control.input-xsmall.input-inline{
    display: none;
}

.select2-choice{
    display: none;
}

input.select2-offscreen{
    display: none;
}

.select2-drop.select2-display-none.select2-with-searchbox{
    display: none;
}